.root{
    position: absolute;
}
.estimation{
    display:flex;
    border-radius: 5px;
    border:1px #dadce0 solid;
    width:200px;
}
.leftEstimation{
  background: #1a73e8;
  border-top-left-radius: 5px;
  width:100px;
  padding:5px 10px 5px 10px;
  margin:0px;
  color: whitesmoke;
}
.rightEstimation{
    padding:5px;
    margin:0px;
    color:rgb(71, 71, 71);
    text-align: center;
    width:50%;
    font-family: monospace;
}
.iconStyle{
    margin: 0px auto;
    padding-top:5px;
    color:#1C283B !important
}
