.validInput {
  margin-top: 12px;
  padding-left: 5px;
  height: 30px;
  font-family: monospace;
  font-size: 15px;
  width: 100%;
  background: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid rgb(156, 156, 156);
}

.validInput:hover {
  border-bottom: 2px solid rgb(107, 107, 107);
}

.validInput:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(107, 107, 107);
}

.invalidInput {
  border-width: 1px;
  border-bottom: 1px solid rgb(218, 59, 59);
  border-top: 1px solid rgb(218, 59, 59);
  border-left: 1px solid rgb(218, 59, 59);
  background: rgb(255, 239, 239);
}

.errorMsg {
  float: left;
  color: rgb(247, 76, 76);
  font-family: monospace;
  font-size: 12px;
  position: absolute;
  margin-top: -5px;
  height: 12px;
}

.label {
  color: rgb(56, 56, 56);
  font-family: monospace;
  font-size: 15px;
  float: left;
}

.browseButton {
  position: absolute;
  top: -50px;
  z-index: 1;
}

.container {
  height: 300px;
  width: 100%;
  border: 1px dashed rgb(151, 151, 151);
  position: relative;
  z-index: 10;
}

.input {
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.imageviewer {
  display: flex;
  width: 500px;
  overflow: auto;
}
.imageview {
  position: relative;
}
.image {
  height: 70px;
  width: 70px;
  margin: 2px;
}
.deleteButton {
  position: absolute;
  float: right;
  right: 0px;
  background: rgb(212, 67, 67);
  border-radius: 50%;
  color: white;
  box-shadow: none;
  border: 1px solid rgb(22, 21, 21);
  cursor: pointer;
}

.hideDeleteButton {
  position: absolute;
  display: none;
}

.imageHeader {
  color: rgb(116, 116, 116);
}

.header {
  color: rgb(80, 80, 80);
  float: left;
  border-bottom: 1px solid rgb(99, 99, 99);
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
}

.inputBox {
  margin-bottom: 20px;
}

.inputBox p {
  text-align: left;
  padding-left: 20px;
  font-size: 15px;
}
