.ProductData {
  margin: 20px;
  width: 95%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  background: white;
  border: 1px solid #eee;
  padding: 10px 50px 50px 30px;
  box-sizing: border-box;
}

@media (min-width: 600px) and (max-width: 980px) {
  .ProductData {
    width: 800px;
  }
}

.addTags {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
}

.tagList {
  height: 150px;
  width: 100%;
  background: white;
  overflow: auto;
  box-shadow: 0px 0px 2px -1px black;
}

.tagListEmpty {
}

.tagList > li {
  list-style-type: none;
  float: left;
  /* border: 1px solid black; */
  background: white;
  margin: 10px;
  box-shadow: 0px 0px 3px -1px black;
}

.tagList li p {
  float: left;
  color: rgb(29, 29, 29);
  margin: 0px;
  padding: 0px;
  padding: 5px;
}

.tagList li p {
  float: left;
}

.tagList li button {
  height: 30px;
  background: white;
  color: #e94f34;
  border: none;
  border-left: 1px solid rgb(160, 160, 160);
  cursor: pointer;
  width: 30px;
}

.tagList li button:hover {
  background: #e94f34;
  color: white;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 16px;
}
